
body{background-color:rgb(25, 33, 34) }
nav{text-align:center;
width:85%;
border:1px solid rgb(219, 236, 216);
border-radius:5px;
margin: auto;
}

/* a {padding: 40px;  } */

nav a:link {
    color:rgb(219, 236, 216);
    text-decoration:none;
}

nav a:visited {
    color:aliceblue
}
nav a:hover {
    background-color:rgb(219, 236, 216); color:rgb(33, 33, 34);
    border-radius:5px;
}

header h1{text-align:center;
    color:rgb(219, 236, 216);
    font-family: "Pixel";
    font-size:45px;
}

main{background-color:rgb(25, 33, 34) ; 
    height: 80%; 
    width:100%;
    border-radius:10px 20px 0px 0px;
    border:1px solid rgb(219, 236, 216);
}



section {
    height:50%;
    width:100%;
     
  
}

section p {
color:rgb(4, 7, 10);
font-size: 21px;
margin-top:8px;
}

section img{width:100%;
    height: 100%;
    object-fit: cover;
      border-radius:10px;
}

.top-left {
  position: absolute;
  top: 105px;
  left: 16px;
 color:rgb(28, 31, 27);
 /* background-color:rgb(33, 33, 34);
 border-radius:5px; */
font-size:50px;
width:25%;
height:15%;
 
}


.inline1 {
 color:rgb(28, 31, 27);
}


.inline2 {
   color:rgb(137, 201, 116);  
}

.inline3 {
   color:rgb(236, 240, 235);  
}




article h1 {
 color:rgb(219, 236, 216);
 margin-left:5px;
}
.nestedsect {
    background-color:rgb(38, 44, 44);
    width:75%;
    height:30%;
    margin-left:10px;
    border-radius:5px;
    border:1px solid rgb(219, 236, 216);
}

article ol {
font-size:23px;
}

article ul {
font-size:23px;
}

article p {
    color:rgba(221, 229, 233, 0.8)
}
footer {
    margin-top:15px;
}

footer p1 {
    color:rgba(242, 248, 242, 0.2);
}